.login{
    box-shadow: 5px 5px rgb(68, 50, 125);

    background-color: #553f9b ;
    border-radius: 10px;

    width: 300px;
    padding: 5px 10px;
    margin: 40px auto;
}

p {
    color: #fff3e5;
}

.login-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 990px) {
    .login-div {
        width: 350px;
        margin: auto;
    }

    .login {
        width: 250px;
    }

    .body{
        background-image: url("../assets/imglogin.png") ;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
